body {
  background-color: #7A9D96;
}

.title_bit {
  background-color: #DCAE1D;
  font-size: 32px;
  color: white;
  font-variant: small-caps;
  font-weight: bolder;
}

.seach_controls{
  background-color: #CAE4DB;
  font-size: 16px;
  color:#00303F
  font-weight: bold;
}

.account_results {
  background-color: #CAE4DB;
  color:#00303F
  font-variant:small-caps;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.account_info:hover {
  background-color: #7A9D96;
}

.account_info:active {
  background-color: #FFF;
}

.account_info.active {
  background-color: #FFF;
}

.account_info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.account_image_container {
  border: none;
  padding: 1px;
  width: 30%;
}

.account_detail_container {
  border: none;
  font-size: 12px;
  padding: 5px;
  width: 30%;
}

.account_profile_image {
  width: 100%;
  height: auto;
}

.org_try {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.tweet_results {
  background-color: #CAE4DB;
  color:#00303F
  font-variant:small-caps;
  font-weight: bold;
}

.ontheissues_results {
  background-color: #CAE4DB;
  background-color: #CAE4DB;
  color:#00303F
  font-variant:small-caps;
  font-weight: bold;
}

.primary_highlight {
  background-color: #DDFF00;
}

.secondary_highlight {
  background-color: #00DDDD;
}

div {

    font-family: "Arial", Verdana, sans;
    margin: auto;
    width: 75%;
    border: 3px solid white;
    padding: 10px;
    text-align: center;
}

button {
  background-color: #00303F;
  border: 2px solid #00303F;
  border-radius: 8px;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: "Arial", Verdana, sans;
  font-size: 16px;
}

ul {
  list-style-type: none;
}
