<!DOCTYPE html>
<html lang="en">
<head>
  <title>SI650 Project - Congressional Tweet Search</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
  <div class="seach_controls">
    <label for="search_term"> Select a search term:
      <select id="search_term" class="dd_search_term" name="search_term">
        {%for term in terms%}
          <option value='{{term[0]}}'>{{term[1]}}</option>
        {%endfor%}
      </select>
    </label>
    <button type="button" id="btn_search" value="Search">Search</button>
  </div>

  <div class="account_results"></div>

  <div class="tweet_results"></div>
  
</body>
<footer>
  <script
    src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
  <script src="{{ url_for('static', filename='scripts.js') }}"></script>
</footer>
